extends ./layouts/main-layout.pug 


block content
    form(action="/filmduzenle" method='POST').mt-3.bg-dark.p-2.rounded.shadow
        div.form-group
            label.text-light.mx-auto
                strong Film G端ncelle
            input(type="text" id="filmadi" name="filmadi" value=`${film.film}`).form-control.mb-2
            input(type="text" id="filmpos" name="filmpos" value=`${film.pos}`).form-control.mb-2
            input(type="text" id="filmpuan" name="filmpuan" value=`${film.puan}`).form-control.mb-2
            input(type="hidden" id="filmid" name="filmid" value=`${film._id}`).form-control.mb-2
            button(type="submit").btn.btn-primary.mt-2 G端ncelle
    form

    each quiz in quizes
        form(action="/quizduzenle" method='POST').mt-3.bg-dark.p-2.rounded.shadow
            div.form-group
                label.text-light.mx-auto
                    strong Quiz G端ncelle
                textarea#quizcontent(name="quizcontent", cols="154", rows="10").textarea #{quiz.content}
                input(type="text" id="quizauthor" name="quizauthor" value=`${quiz.author}`).form-control.mb-2
                input(type="hidden" name="quizid" value=`${quiz._id}`)
                input(type="hidden" name="quizfilmid" value=`${quiz.film_id}`)
                button(type="submit").btn.btn-primary.mt-2 G端ncelle
        form