extends ./layouts/main-layout.pug 


block content

    .row
        .col-md-12

            div.istenavbg.p-3.mt-2.rounded.shadow.text-light Tamamlanmış İşler
            
            if YapilmisIsler.length > 0
                table.table.table-bordered.table-info.table-hover.mt-3.shadow
                    thead
                        tr
                            th Kasa
                            th Anakart
                            th Yapılan İş
                            th Talep Eden
                            th Tarih
                    tbody
                        each is in YapilmisIsler
                            tr
                                td.text-capitalize !{is.kasa}
                                td.text-capitalize !{is.anakart}
                                td.text-capitalize !{is.yapilmisis}
                                td.text-capitalize !{is.talepeden}
                                td.text-capitalize #{is.tarih.getDate()}.#{is.tarih.getMonth()+1}.#{is.tarih.getFullYear()}
                                    
            else
                h1 Henüz Paylaşımda Bulunmamışsın.

        //- .col-md-6
            
        //-     div.bg-info.p-3.text-light.mt-2.rounded.shadow İZLENECEK FİLMLER

        //-     if izlenecekfilmler.length > 0
        //-         table.table.table-bordered.table-info.table-hover.mt-3.shadow
        //-             thead
        //-                 tr
        //-                     th Film Adı
        //-                     th(style="width: 80px;") Eylem
        //-             tbody
        //-                 each film in izlenecekfilmler
        //-                     tr
        //-                         td.text-capitalize !{film.film}
        //-                         td
        //-                             a.btn.btn-info.btn-sm(href=`/izlenecekfilmdetay/${film.id}`) Detay
                                    
                                    
            else
                h1 Henüz Paylaşımda Bulunmamışsın.